<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B06EC8B16E77D6A004D2F59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEF91A41B96FFC000F2D974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E5ED8D14DB037D00136CFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E5EDB414DB037D00136CFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
